.aboutUs {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .top {
    width: 100%;
    height: 25%;
    position: relative;
    ul {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      li {
        background: url("https://www.bgy.com.cn/upload/img/2017-08-03/4a43911e-9f1e-4de8-8388-fc0676baf6ff.jpg") center
          center no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
      }
    }
  }
  .submenu {
    width: 100%;
    height: 7%;
    .submenuSub {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      border-bottom: 1px solid rgb(231, 231, 231);
      text-align: center;
      .homeIcon {
        width: 65px;
        height: 100%;
        font-size: 14px;
        color: rgb(153, 153, 153);
        float: left;
        background: rgb(244, 244, 244);
        line-height: 55px;
      }
      a {
        text-decoration: none;
        font-size: 14px;
        color: #848181;
        line-height: 55px;
        padding: 0 12px 0 20px;
        float: left;
        font-weight: bold;
        .rightIcon {
          color: #a3a0a0;
          float: right;
          font-size: 12px;
          line-height: 55px;
          margin-left: 12px;
        }
      }
      span {
        padding-left: 10px;
        font-size: 14px;
        color: #0e98a5;
        font-weight: bold;
        line-height: 55px;
        float: left;
      }
      .selectItem {
        margin: 0px;
        float: right;
        font-size: 14px;
        color: #848181;
        line-height: 55px;
        padding: 0 12px 0 20px;
        font-weight: bold;
      }
      .selectItem:hover {
        color: #0e98a5;
        border-bottom: 2px solid #0e98a5;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        transition-delay: 0.3s;
      }
    }
  }
  .companyMain {
    width: 100%;
    height: 65%;
    margin-top: 2.5%;
    .main-center {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      .center-top {
        width: 100%;
        height: 7%;
        background: rgb(244, 244, 244);
      }
      .center-main {
        width: 100%;
        height: 88%;
        margin-top: 4%;
        position: relative;

        .main-left {
          position: absolute;
          width: 40%;
          height: 30%;
          h2 {
            text-align: left;
            font-size: 34px;
            color: #c8c8c8;
            font-weight: 300;
            font-family: "novecentowide-book";
            // margin-left: 2%;
            margin-top: 0px;
            margin-bottom: 5px;
          }
          h3 {
            font-size: 18px;
            color: #333333;
            padding: 7px 0 30px 0px;
            margin: 0px;
            text-align: left;
          }
          h5 {
            font-size: 14px;
            color: #848181;
            float: left;
            margin-right: 30px;
            line-height: 35px;
            em {
              font-size: 48px;
              color: #f6ad12;
              font-family: "novecentowide-book";
              float: left;
              margin-right: 10px;
              letter-spacing: -4px;
              font-style: normal;
            }
          }
        }

        .main-right {
          float: right;
          width: 58%;
          height: 75%;
          h3 {
            text-align: left;
          }
          p {
            font-size: 14px;
            color: #999999;
            padding-bottom: 20px;
            text-align: left;
          }
        }
      }
    }
  }

  .cultureMain {
    width: 100%;
    height: 500px;
    background-image: url("https://www.bgy.com.cn/images/about/about-2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 2.5%;
    position: relative;

    .main-center {
      width: 80%;
      height: 38%;
      margin: 0 auto;
      .center-left {
        width: 500px;
        float: left;
        height: 100%;
        h3 {
          font-size: 18px;
          color: #26a2ae;
          padding-top: 60px;
          padding-bottom: 8px;
          margin: 0px;
          text-align: left;
        }

        h4 {
          font-size: 36px;
          color: #c8c8c8;
          font-family: 'novecentowide-book';
          letter-spacing: -3px;
          font-weight: 500;
          margin: 0px;
          padding-top: 5px;
          text-align: left;
        }
      }

      .center-right {
        width: 320px;
        padding: 55px 20px 0px 20px;
        background: #26a2ae;
        position: absolute;
        top: -5%;
        right: 15%;
        -webkit-animation: rightmove 1.5s;
        p {
          font-size: 12.5px;
          color: #fff;
          padding-bottom: 18px;
          text-align: left;
        }
      }
    }
  }
}

#right {
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes rightmove {
  from {
    right: 0px;
  }
  to {
    right: 15%;
  }
}
