.bg_bank {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg_bank .bg_color {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 400px;
  border: 1px solid red;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  margin-top: -170px;
  margin-left: -500px;
}

.el-input-phone {
  display: block;
  width: 25%;
  margin: 50px auto 16px;
  /* float: left; */
}

.el-input-verif {
  /* display: block; */
  width: 25%;
  margin: 20px auto;
}

.reto_code {
  display: inline-block;
  position: absolute;
  right: 22%;
  bottom:42%;
  /* margin-left: 10px; */
}
.btn_login {
  display: block;
  font-size: 16px;
  text-align: center;
  margin: 16px auto;
}